<div th:fragment="chessboard">
    <div class='chessboard-container'>
        <!-- Dynamische Schachfelder -->
        <div class="chessboard">
            <div th:each="field : ${fields}"
                 th:class="${field.color.toString() == 'WHITE' ? 'white' : 'black'}"
                 th:id="${field.field.name}"
                 th:attr="data-field=${field.field.name}"
                 th:style="'width:' + ${field.width} + 'px;height:' + ${field.height} + 'px;top:' + (${field.top}) + 'px;left:' + (${field.left}) + 'px;'">
            </div>  
        </div>
        <svg class="arrow-layer" style="position: absolute; z-index: 3; pointer-events: none; width: 100%; height: 100%;" />
        <!-- Dynamische Schachfiguren -->
        <div th:each="element, iter : ${elements}">
            <img th:src="@{${element.imagePath}}"
                 th:style="'width:' + ${element.width} + 'px;height:' + ${element.height} + 'px;top:' + (${element.top} + ${topBarHeight}) + 'px;left:' + ${element.left} + 'px;'"
                 class="draggable"
                 th:attr="data-piece-field=${element.piece.field.name},data-id='element-' + ${iter.index}" />
        </div>
        
        <!-- Evaluationsbalken --> 
        <div class="whiteEval" th:if="${showEvaluation}" th:style="'height:' + ${heightOfWhiteEval} + 'px;top:' + ${chessboardOffsetY} + 'px;'"></div>
        <div class="blackEval" th:if="${showEvaluation}" th:style="'height:' + ${heightOfBlackEval} + 'px;top:' + ${chessboardOffsetY} + 'px;'"></div>
    </div>
	
	<audio id="captureSound" src="/sounds/capture.mp3" preload="auto"></audio>
	<audio id="moveSound" src="/sounds/move-self.mp3" preload="auto"></audio>
	<audio id="notify" src="/sounds/notify.mp3" preload="auto"></audio>
    <!-- Container für geschlagene Figuren -->
    <div if:th=${capturedContainer} id="captured-pieces" th:style="'position: absolute; top:' + ${capturedTop} + 'px; left:' + ${capturedLeft} + 'px; width: '+${capturedWidth}+'px; height: '+${capturedHeight}+'px; display: flex; flex-wrap: wrap; justify-content: center;'"></div>
</div>

	