<div th:fragment="sidebar">
		<div id="sidebar" class="sidebar">

			<div class="sidebar-chessboard">
			    <img src="/test.png" alt="Main Icon" class="sidebar-mainicon sidebar-chessboard-icon">
			</div>

		    <div class="menu-section">
		        <h3 class="menu-title">
					<img src="/white_rook.png" alt="Game Icon" class="sidebar-icon">
					Game
				</h3>
		        <ul class="submenu">
		            <li><button id="newGame">New Game</button></li>
		            <li th:if="${uciEngineActive}"><button id="engineClash">Let engines play position</button></li>
					<li><button id="gameAnalysis">Game analysis</button></li>
					<li><a href='/resign'>Resign the game</a></li>
		            <li><button id="shutDown">Shutdown Application</button></li>
		        </ul>
		    </div>
 
		    <div class="menu-section">
		        <h3 class="menu-title">
					<img src="/settings.png" alt="Game Icon" class="sidebar-icon">
					Settings
				</h3>
		        <ul class="submenu">
		            <li><a href='/settings'>General settings</a></li>
		            <li><a href='/presentation-settings'>Presentation settings</a></li>
		            <li><a href='/uciEngine-settings'>UCI engines settings</a></li>
		        </ul>
		    </div>

		    <!-- File Menü -->
		    <div class="menu-section">
		        <h3 class="menu-title">
					<img src="/files.png" alt="Game Icon" class="sidebar-icon">
					File
				</h3>
		        <ul class="submenu">
		            <li><button id="saveGameButton">Download game</button></li>
					<li><button id="loadGameButton">Upload game</button></li>
					<li><button id="loadPGNButton">Upload PGN game</button></li>
		            <li><button id="importEngine">Import an UCI engine</button></li>
		        </ul>
		    </div>

		    <!-- Clipboard Menü -->
		    <div class="menu-section">
		        <h3 class="menu-title">
					<img src="/clipboard.png" alt="Game Icon" class="sidebar-icon">
					Clipboard
				</h3>
		        <ul class="submenu">
		            <li><button id="saveGameButtonServer">Save game to clipboard</button></li>
		            <li><button id="loadGameButtonServer">Load game from clipboard</button></li>
		        </ul>
		    </div>
		</div>
</div>
