<div th:fragment="sidebar">
		<div id="sidebar" class="sidebar">
		    <h2>Optionen</h2>

		    <!-- Game Menü -->
		    <div class="menu-section">
		        <h3 class="menu-title">Game</h3>
		        <ul class="submenu">
		            <li><button id="newGame">Start new Game</button></li>
		            <li th:if="${uciEngineActive}"><button id="engineClash">Let engines play position</button></li>
		            <li><a href='/resign'>Resign!</a></li>
		            <li><button id="shutDown">Shutdown Application</button></li>
		        </ul>
		    </div>

		    <!-- Settings Menü -->
		    <div class="menu-section">
		        <h3 class="menu-title">Settings</h3>
		        <ul class="submenu">
		            <li><a href='/settings'>General settings</a></li>
		            <li><a href='/presentation-settings'>Presentation settings</a></li>
		            <li><a href='/uciEngine-settings'>UCI engines settings</a></li>
		        </ul>
		    </div>

		    <!-- File Menü -->
		    <div class="menu-section">
		        <h3 class="menu-title">File</h3>
		        <ul class="submenu">
		            <li><button id="saveGameButton">Download game</button></li>
		            <li><button id="loadGameButton">Upload game</button></li>
		            <li><button id="importEngine">Import an UCI engine</button></li>
		        </ul>
		    </div>

		    <!-- Clipboard Menü -->
		    <div class="menu-section">
		        <h3 class="menu-title">Clipboard</h3>
		        <ul class="submenu">
		            <li><button id="saveGameButtonServer">Save game to clipboard</button></li>
		            <li><button id="loadGameButtonServer">Load game from clipboard</button></li>
		        </ul>
		    </div>
		</div>
</div>
